$primary-color: #e50914;
$darker-color: #b81d24;
$background-color: #141313;
$light-color: #f5f5f1;
$custom-gray: #312d2d;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;700&display=swap");

body {
  background-color: $background-color;
  overflow-x: hidden;
}
